* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug * {
    border: 1px dashed black;
}




/* Body */
body {
    background-image: url(../img/cork.png);
    background-size: 25%;
}


/* Header */

header {
    background-image: url(../img/wall.png);
    background-size: 25%;
    padding: 1rem 0;
}

h1 {
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
    font-family: "Edu TAS Beginner", cursive;
}


/* Main */
main {
    padding: 5rem 0;
}

/* container */
.container {
    width: 70%;
    margin: 0 auto;
}

/* row */
#row {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}





/* Card generics */
.card {
    width: calc(100% / 3 - 2rem);
    padding: 1rem;
    background-color: white;
    position: relative;
    box-shadow: 3px 3px 5px 0px rgb(124 124 124);
}

.pin {
    position: absolute;
    display: block;
    width: 10%;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .card-image {
    width: 100%;
}

.card .card-text {
    font-size: 1.3rem;
    margin-top: 1rem;
    color: grey;
    font-family: "Sometype Mono", monospace;
}

.card .card-title{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: "Edu TAS Beginner", cursive;
}
